/* Navbar button styling */
.card-btn {
    border-radius: 5px;
    border-style: none;
    background-color: #39afe6;
    color: white;
    margin-left: 15px;
    height: 2.5rem;
    z-index: 99999;
  }
  .btn:hover, .card-btn:hover {
    background-color: #2136d0;
  }
  .card-btn-1 {
    width: 8rem;
  }

  /* Styles for the size selection btn */
  .size-button {
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .size-button.selected {
    background-color: #3498db;
    color: #fff;
  }
  
  .size-button:hover {
    background-color: #f1f1f1;
  }